services/flat-panel/flows.json
[
    {
        "id": "35969bcc80fd0d28",
        "type": "tab",
        "label": "Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1006b63ec7131591",
        "type": "group",
        "z": "35969bcc80fd0d28",
        "name": "Console",
        "style": {
            "label": true
        },
        "nodes": [
            "be2daa448c1047bb",
            "fa9adf2a3931dd79",
            "30b5a3dfcddb4abc",
            "23dea0d26b3ea82f",
            "4f80614c981df127",
            "2ac518628b943ffa",
            "cff806ec5b0b6474",
            "14fc09b98ce80ead",
            "6220d054ebd2b6ec",
            "fda685082648a0f9",
            "f79c98e5f083c3db",
            "b3fd112ddde9a5bd",
            "e9fd52f6fb514e73",
            "f04170adb7499826",
            "5266be5d0d6cf636",
            "afa6643cd0821525",
            "9045dc6c46bfd675",
            "6aa698667afbddd2",
            "a043df9235013621",
            "086d6bc1cf181fa9",
            "a15432d5636fdd24",
            "a3af75eab78359a1",
            "3e76ee63b5a3fa44",
            "dfd7c60a03651d9b",
            "485348b9b34c5d7b",
            "c2ca2d6728b1edad",
            "3d0105e84f4a4cdb",
            "be7a2c91a3227485",
            "b25856aa94e7ad74",
            "3d7c5e1bc4ee3252",
            "72c3f380a3c37896",
            "ea7c67f247049f05",
            "e8b4c1955605d17d",
            "f66801bd96ba9332",
            "fb951ef95fe25fa0",
            "09f3ecc1e6fd77a0",
            "e5b5b59b02df7ac9",
            "c9349003467a04f8",
            "a70a512fd8a5f4c6",
            "4343da20c05f3955",
            "0ed74267952b47d5"
        ],
        "x": 24,
        "y": 59,
        "w": 1192,
        "h": 722
    },
    {
        "id": "be89eb0411a354f8",
        "type": "group",
        "z": "35969bcc80fd0d28",
        "name": "Commands",
        "style": {
            "label": true
        },
        "nodes": [
            "4b24880719d0a76a",
            "f60642cab0bf29f7",
            "599e2fd4d3e621a2",
            "ff3d3995a3f17ec0",
            "716327a1366043c2",
            "5fe32baffc8a3be9",
            "fc1a59d64a54d6a7",
            "13059a47e2ae9b99",
            "9747bd7f9aa8e1ea",
            "37f3498979765f2c",
            "f685aef95fc32e8d"
        ],
        "x": 34,
        "y": 1019,
        "w": 774,
        "h": 362
    },
    {
        "id": "be2daa448c1047bb",
        "type": "tcp in",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "",
        "server": "server",
        "host": "",
        "port": "1890",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "14fc09b98ce80ead",
                "fa9adf2a3931dd79"
            ]
        ]
    },
    {
        "id": "fa9adf2a3931dd79",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Raw input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "4b24880719d0a76a",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "on",
        "payloadType": "str",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "599e2fd4d3e621a2"
            ]
        ]
    },
    {
        "id": "f60642cab0bf29f7",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "power",
        "payload": "off",
        "payloadType": "str",
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "599e2fd4d3e621a2"
            ]
        ]
    },
    {
        "id": "599e2fd4d3e621a2",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "set power",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "9747bd7f9aa8e1ea"
            ]
        ]
    },
    {
        "id": "30b5a3dfcddb4abc",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^brightness\\s*.*$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^power\\s*.*$",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "^input\\s*.*$",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "^status\\s*.*$",
                "vt": "str",
                "case": true
            },
            {
                "t": "eq",
                "v": "help",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 7,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "f79c98e5f083c3db"
            ],
            [
                "e5b5b59b02df7ac9"
            ],
            [
                "3e76ee63b5a3fa44"
            ],
            [
                "dfd7c60a03651d9b"
            ],
            [
                "be7a2c91a3227485"
            ],
            [
                "23dea0d26b3ea82f"
            ],
            [
                "2ac518628b943ffa"
            ]
        ]
    },
    {
        "id": "23dea0d26b3ea82f",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "help",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Try:\n  - \"power <on|off>\" Get & set display power\n  - \"input <hdmi1|hdmi2|displayport|vga>\" Get & set input source",
        "output": "str",
        "x": 690,
        "y": 580,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "4f80614c981df127",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Unknown message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "2ac518628b943ffa",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "unknown",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"{{payload}}\" is not a recognized {{#topic}}{{.}} {{/topic}}command\nType \"help\" to get the help menu.",
        "output": "str",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "f79c98e5f083c3db",
                "4f80614c981df127"
            ]
        ]
    },
    {
        "id": "cff806ec5b0b6474",
        "type": "tcp out",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 310,
        "y": 560,
        "wires": []
    },
    {
        "id": "14fc09b98ce80ead",
        "type": "link out",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "In: Raw",
        "mode": "link",
        "links": [
            "6220d054ebd2b6ec"
        ],
        "x": 245,
        "y": 140,
        "wires": []
    },
    {
        "id": "6220d054ebd2b6ec",
        "type": "link in",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "In: process input command",
        "links": [
            "14fc09b98ce80ead"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "fda685082648a0f9"
            ]
        ]
    },
    {
        "id": "fda685082648a0f9",
        "type": "function",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "trim whitespace",
        "func": "const cmd = msg.payload;\nmsg.payload = cmd.trim();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 420,
        "wires": [
            [
                "30b5a3dfcddb4abc"
            ]
        ]
    },
    {
        "id": "f79c98e5f083c3db",
        "type": "link out",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Out: return command response",
        "mode": "link",
        "links": [
            "b3fd112ddde9a5bd"
        ],
        "x": 1175,
        "y": 420,
        "wires": []
    },
    {
        "id": "b3fd112ddde9a5bd",
        "type": "link in",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "In: send to socket",
        "links": [
            "f79c98e5f083c3db",
            "fb951ef95fe25fa0"
        ],
        "x": 65,
        "y": 560,
        "wires": [
            [
                "e9fd52f6fb514e73",
                "6aa698667afbddd2"
            ]
        ]
    },
    {
        "id": "e9fd52f6fb514e73",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 600,
        "wires": []
    },
    {
        "id": "f04170adb7499826",
        "type": "status",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "",
        "scope": [
            "be2daa448c1047bb"
        ],
        "x": 120,
        "y": 260,
        "wires": [
            [
                "5266be5d0d6cf636",
                "afa6643cd0821525",
                "7e4d7f2b44929bd3"
            ]
        ]
    },
    {
        "id": "5266be5d0d6cf636",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Socket Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "afa6643cd0821525",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "detect connection event",
        "property": "status.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "9045dc6c46bfd675"
            ]
        ]
    },
    {
        "id": "9045dc6c46bfd675",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "append session",
        "rules": [
            {
                "t": "set",
                "p": "_session",
                "pt": "msg",
                "to": "status._session",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 120,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "6aa698667afbddd2",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": ">",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{#payload}}\n{{{payload}}}\n{{/payload}}\n>",
        "output": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "cff806ec5b0b6474"
            ]
        ]
    },
    {
        "id": "a043df9235013621",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^input$",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "^input\\s+(hdmi1|hdmi2|displayport|vga)$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "3d7c5e1bc4ee3252"
            ],
            [
                "086d6bc1cf181fa9"
            ],
            [
                "2ac518628b943ffa"
            ]
        ]
    },
    {
        "id": "086d6bc1cf181fa9",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "set input",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "^input\\s+(.*)$",
                "fromt": "re",
                "to": "$1",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "input",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "a15432d5636fdd24",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "power",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^power$",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "^power\\s+(on|off)$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "b25856aa94e7ad74"
            ],
            [
                "a3af75eab78359a1"
            ],
            [
                "2ac518628b943ffa"
            ]
        ]
    },
    {
        "id": "a3af75eab78359a1",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "set power",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "^power\\s+(.*)$",
                "fromt": "re",
                "to": "$1",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "power",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "3e76ee63b5a3fa44",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "a15432d5636fdd24"
            ]
        ]
    },
    {
        "id": "dfd7c60a03651d9b",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "input",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "a043df9235013621"
            ]
        ]
    },
    {
        "id": "485348b9b34c5d7b",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "get status text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "power: {{flow.power}}\ninput: {{flow.input}}",
        "output": "str",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "c2ca2d6728b1edad",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "status",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^status\\s+json$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 690,
        "y": 440,
        "wires": [
            [
                "485348b9b34c5d7b"
            ],
            [
                "3d0105e84f4a4cdb"
            ],
            [
                "2ac518628b943ffa"
            ]
        ]
    },
    {
        "id": "3d0105e84f4a4cdb",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "get status json",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"power\": \"{{flow.power}}\",\n    \"input\": \"{{flow.input}}\"\n}",
        "output": "str",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "be7a2c91a3227485",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "c2ca2d6728b1edad"
            ]
        ]
    },
    {
        "id": "72c3f380a3c37896",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "broadcast new value",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{topic}}: {{payload}}",
        "output": "str",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "f66801bd96ba9332",
                "fb951ef95fe25fa0"
            ]
        ]
    },
    {
        "id": "e8b4c1955605d17d",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Context Written To",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 680,
        "wires": []
    },
    {
        "id": "b25856aa94e7ad74",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "get power",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{topic}}: {{flow.power}}",
        "output": "str",
        "x": 860,
        "y": 260,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "f66801bd96ba9332",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Broadcast change",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "fb951ef95fe25fa0",
        "type": "link out",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "Out: broadcast events",
        "mode": "link",
        "links": [
            "b3fd112ddde9a5bd"
        ],
        "x": 535,
        "y": 680,
        "wires": []
    },
    {
        "id": "3d7c5e1bc4ee3252",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "get input",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{topic}}: {{flow.input}}",
        "output": "str",
        "x": 860,
        "y": 340,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "ff3d3995a3f17ec0",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "hdmi1",
        "payloadType": "str",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "716327a1366043c2"
            ]
        ]
    },
    {
        "id": "716327a1366043c2",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "set input",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1200,
        "wires": [
            [
                "9747bd7f9aa8e1ea"
            ]
        ]
    },
    {
        "id": "5fe32baffc8a3be9",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "hdmi2",
        "payloadType": "str",
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "716327a1366043c2"
            ]
        ]
    },
    {
        "id": "fc1a59d64a54d6a7",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "displayport",
        "payloadType": "str",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "716327a1366043c2"
            ]
        ]
    },
    {
        "id": "13059a47e2ae9b99",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "input",
        "payload": "vga",
        "payloadType": "str",
        "x": 140,
        "y": 1260,
        "wires": [
            [
                "716327a1366043c2"
            ]
        ]
    },
    {
        "id": "9747bd7f9aa8e1ea",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "Commands set from Node-RED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 632,
        "y": 1154,
        "wires": []
    },
    {
        "id": "41feb86c0b6514fb",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "input",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 95,
        "y": 840,
        "wires": [
            [
                "e01416bcb3fb4eb4",
                "b2dc05442e469403"
            ],
            [
                "cd099d4b6697feaf",
                "6a454bbaa9e63ff8"
            ],
            [
                "4389284cdb14a4db",
                "55bc88e5ba815b31"
            ]
        ],
        "l": false
    },
    {
        "id": "09f3ecc1e6fd77a0",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 732.5,
        "y": 122,
        "wires": [],
        "l": false
    },
    {
        "id": "7e4d7f2b44929bd3",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 471.5,
        "y": 920,
        "wires": [
            [
                "cdeb3e5d71d58880"
            ]
        ],
        "l": false
    },
    {
        "id": "cdeb3e5d71d58880",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Event: {{status.event}}\n\nTime: {{timestamp}}",
        "output": "str",
        "x": 557.5,
        "y": 924,
        "wires": [
            [
                "62c1a06ec0038640"
            ]
        ],
        "l": false
    },
    {
        "id": "b2dc05442e469403",
        "type": "ui-switch",
        "z": "35969bcc80fd0d28",
        "name": "",
        "label": "Power Switch",
        "group": "979ff231dcf69806",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 276.5,
        "y": 879.5,
        "wires": [
            [
                "599e2fd4d3e621a2"
            ]
        ]
    },
    {
        "id": "e01416bcb3fb4eb4",
        "type": "ui-text",
        "z": "35969bcc80fd0d28",
        "group": "b7db89cb7fca048d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 514.5,
        "y": 813.5,
        "wires": []
    },
    {
        "id": "cd099d4b6697feaf",
        "type": "ui-text",
        "z": "35969bcc80fd0d28",
        "group": "b7db89cb7fca048d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Input",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 499,
        "y": 863.5,
        "wires": []
    },
    {
        "id": "62c1a06ec0038640",
        "type": "ui-text",
        "z": "35969bcc80fd0d28",
        "group": "979ff231dcf69806",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recent Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 717.5,
        "y": 922.5,
        "wires": []
    },
    {
        "id": "6a454bbaa9e63ff8",
        "type": "ui-radio-group",
        "z": "35969bcc80fd0d28",
        "group": "0f5e3d084f141191",
        "name": "",
        "label": "Select Input:",
        "order": 2,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "HDMI 1",
                "value": "hdmi1",
                "type": "str"
            },
            {
                "label": "HDMI 2",
                "value": "hdmi2",
                "type": "str"
            },
            {
                "label": "DisplayPort",
                "value": "displayport",
                "type": "str"
            },
            {
                "label": "VGA",
                "value": "vga",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 267.5,
        "y": 918.5,
        "wires": [
            [
                "716327a1366043c2"
            ]
        ]
    },
    {
        "id": "ea7c67f247049f05",
        "type": "context-monitor",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "listen for changes",
        "monitoring": [
            {
                "scope": "flow",
                "flow": ".",
                "node": "f3b1edb41ca608cd",
                "key": "power"
            },
            {
                "scope": "flow",
                "flow": ".",
                "node": "f3b1edb41ca608cd",
                "key": "input"
            },
            {
                "scope": "flow",
                "flow": ".",
                "node": "be2daa448c1047bb",
                "key": "brightness"
            }
        ],
        "tostatus": true,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "e8b4c1955605d17d",
                "41feb86c0b6514fb"
            ],
            [
                "72c3f380a3c37896"
            ]
        ]
    },
    {
        "id": "9cd4f9973dfdddad",
        "type": "comment",
        "z": "35969bcc80fd0d28",
        "name": "For SNMP connect to display:1611",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "e5b5b59b02df7ac9",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "brightness",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "c9349003467a04f8"
            ]
        ]
    },
    {
        "id": "c9349003467a04f8",
        "type": "switch",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "brightness",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^brightness$",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "^brightness\\s+(\\d{1,3})$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "4343da20c05f3955"
            ],
            [
                "0ed74267952b47d5"
            ],
            []
        ]
    },
    {
        "id": "a70a512fd8a5f4c6",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "set brightness",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "^brightness\\s+(.*)$",
                "fromt": "re",
                "to": "$1",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "brightness",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 220,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "4343da20c05f3955",
        "type": "template",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "get brightness",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{topic}}: {{flow.brightness}}",
        "output": "str",
        "x": 880,
        "y": 180,
        "wires": [
            [
                "f79c98e5f083c3db"
            ]
        ]
    },
    {
        "id": "e4065bb3477414f9",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "brightness",
        "payload": "100",
        "payloadType": "num",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "37f3498979765f2c"
            ]
        ]
    },
    {
        "id": "37f3498979765f2c",
        "type": "change",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "set brightness",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "9747bd7f9aa8e1ea"
            ]
        ]
    },
    {
        "id": "f685aef95fc32e8d",
        "type": "inject",
        "z": "35969bcc80fd0d28",
        "g": "be89eb0411a354f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "brightness",
        "payload": "80",
        "payloadType": "num",
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "37f3498979765f2c"
            ]
        ]
    },
    {
        "id": "55bc88e5ba815b31",
        "type": "ui-slider",
        "z": "35969bcc80fd0d28",
        "group": "0f5e3d084f141191",
        "name": "Set brightness",
        "label": "Brightness",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": true,
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 260,
        "y": 980,
        "wires": [
            [
                "37f3498979765f2c"
            ]
        ]
    },
    {
        "id": "4389284cdb14a4db",
        "type": "ui-text",
        "z": "35969bcc80fd0d28",
        "group": "b7db89cb7fca048d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Brightness",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "my-brightness-label",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "0ed74267952b47d5",
        "type": "function",
        "z": "35969bcc80fd0d28",
        "g": "1006b63ec7131591",
        "name": "to num",
        "func": "\nreturn Number(msg.payload)",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 220,
        "wires": [
            [
                "a70a512fd8a5f4c6"
            ]
        ],
        "l": false
    },
    {
        "id": "a9109a9d79991ddb",
        "type": "ui-radio-group",
        "z": "35969bcc80fd0d28",
        "group": "0f5e3d084f141191",
        "name": "",
        "label": "Select Option:",
        "order": 3,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "Test",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Test 2",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 960,
        "y": 880,
        "wires": [
            [
                "61b3272728f952d1"
            ]
        ]
    },
    {
        "id": "61b3272728f952d1",
        "type": "debug",
        "z": "35969bcc80fd0d28",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 860,
        "wires": []
    },
    {
        "id": "979ff231dcf69806",
        "type": "ui-group",
        "name": "Events",
        "page": "b140caee0b2ce651",
        "width": "6",
        "height": "2",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b7db89cb7fca048d",
        "type": "ui-group",
        "name": "Main",
        "page": "b140caee0b2ce651",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0f5e3d084f141191",
        "type": "ui-group",
        "name": "Controls",
        "page": "b140caee0b2ce651",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b140caee0b2ce651",
        "type": "ui-page",
        "name": "Home",
        "ui": "b1f4e11939979488",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "a4397e02a8ffa8ab",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b1f4e11939979488",
        "type": "ui-base",
        "name": "Display Webpage",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "hidden",
        "showReconnectNotification": false,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": false
    },
    {
        "id": "a4397e02a8ffa8ab",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]